<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div id="header-box">
    <div id="header-logo-box">
        <p id="header-text"><span id="header-logo">BookBook</span> Панель администратора</p>
    </div>
</div>

<div id="display-box">
    <h1 id="available-places-title">Панели</h1>
    <div id="button-box">

        <br>
        <button id="redirect-button" class="analitics-button">► Аналитика</button>
        <button id="redirect-button" class="logs-button">► Логи</button>
        <button id="redirect-button" class="metrics-button">► Метрики</button>
        <script>
            $(".logs-button").on("click", function () {
                window.location.href = "https://prod-team-1-tuvfni6f.REDACTED/admin/grafana/d/aeentrbk11hj4e/logs?orgId=1&from=now-1h&to=now&timezone=browser&refresh=5s";
            });
            $(".analitics-button").on("click", function () {
                window.location.href = "https://prod-team-1-tuvfni6f.REDACTED/admin/grafana/d/aeeoa9145fc3kc/analitics?orgId=1&from=now-6h&to=now&timezone=browser";
            });
            $(".metrics-button").on("click", function () {
                window.location.href = "https://prod-team-1-tuvfni6f.REDACTED/admin/grafana/d/eeeod6zd889vka/metrics?orgId=1&from=now-1h&to=now&timezone=browser";
            });
        </script>
    </div>

    <div id="places-box">
        <h1 id="available-places-title">Доступные места</h1>
        {{#if places.length}}
        {{#each places}}
        <div id="place-box">
            <p id="place-name">{{name}}</p>
            <p id="place-city">{{city}}</p>
            <p id="place-address">{{address}}</p>
            <p id="place-description">{{description}}</p>
            <a id="delete-place-button" href="/place/delete/{{id}}">⛌ Удалить</a>
        </div>
        {{/each}}
        {{else}}
        <p>У вас нет созданных мест</p>
        {{/if}}

        <div id="button-box">
            <button class="create-place" id="redirect-button">+ Создать новое место</button>
        </div>
        <script>
            $(".create-place").on("click", function () {
                window.location.href = "/createPlace";
            });


        </script>
    </div>
    <br>
    <br>


</div>




<style>
    body {
        background-color: #1e1e1e;
        color: #e0e0e0;
        font-family: 'Arial', sans-serif;
    }

    #display-box {
        margin-top: 100px;
    }

    /* Хедер */
    #header-box {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #2a2a2a;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header-logo {
        font-size: 1.15em;
        font-weight: bold;
        color: #8a2be2;
    }

    #header-logo-box p:last-child {
        font-size: 1.1em;
        color: #a0a0a0;
    }

    /* Контейнер кнопок */
    #button-box {
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin-top: 20px;
    }

    #redirect-button {
        padding: 13px;
        background-color: #8a2be2;
        color: white;
        font-size: 1.1em;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #redirect-button:hover {
        background-color: #7a1bb3;
    }

    /* Основной контейнер */
    #places-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    #available-places-title {
        font-size: 1.75em;
        font-weight: bold;
        color: #e0e0e0;
        text-align: center;
    }

    /* Карточки мест */
    #place-box {
        background-color: #2a2a2a;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.314);
        width: 80%;
        max-width: 500px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    #place-box p {
        font-size: 1.1em;
        color: #c9c9c9;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    #place-name {
        font-size: 1.4em;
        font-weight: bold;
        color: #ffffff;
    }

    /* Кнопка удаления */
    #delete-place-button {
        display: inline-block;
        margin-top: 10px;
        padding: 8px;
        margin-left: -3px;
        background-color: #e32922;
        /* Фиолетовый */
        color: white;
        font-size: 1em;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
    }

    #delete-place-button:hover {
        background-color: #bc2a25;
    }

    /* Ссылка на главную */
    #back-to-home {
        font-size: 1.1em;
        color: #b0b0b0;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 8px;
        transition: background 0.3s, color 0.3s;
        display: block;
        text-align: center;
    }

    #back-to-home:hover {
        text-decoration: underline;
        color: #e0e0e0;
    }
</style>